
body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    color:wheat;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.field{    
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    gap: min(1vw,1vh);
}

.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: min(1vw,1vh);
    font-size: min(10vw,10vh);
    user-select: none;
    background-color: #333;
    box-shadow: 0 0 min(0.5vh,0.5vw) min(0.5vh,0.5vw) #E0CA23;
}

.green{
    background-color: green;
}